variables:
  LUA: "lua-5.3.3"

build:
  before_script: 
  - curl -R -O http://www.lua.org/ftp/$LUA.tar.gz
  - tar zxf $LUA.tar.gz
  - cd $LUA
  - make linux test
  - cd ..
  script:
  - make all test CARGS="-I$LUA/src" LDARGS="-L$LUA/src"