variables:
  LUA: "lua-5.3.3"
  LC: "lua-5.3.3/src/luac"
  CFLAGS: "-c -ansi -pedantic -std=gnu99 -Wall -Werror"
  LDFLAGS: "-llua -lm -ldl"

run:
  stage: build
  before_script: 
  - curl -R -O http://www.lua.org/ftp/$LUA.tar.gz
  - tar zxf $LUA.tar.gz
  - cd $LUA
  - make linux test
  - cd ..
  script:
  - make all test LC=$LC CFLAGS=$CFLAGS LDFLAGS=$LDFLAGS