language: c
branches:
  only:
    - master
compiler:
  - gcc
  - clang
os:
  - linux
  - osx
env:
  global:
    - LUA=lua-5.3.4
    - SRC=lua-5.3.4/src
addons:
  apt:
    sources:
      - george-edison55-precise-backports
    packages:
      - cmake
      - cmake-data
install:
  - curl -R -O http://www.lua.org/ftp/$LUA.tar.gz
  - tar zxf $LUA.tar.gz
  - cd $LUA
  - if [ "${TRAVIS_OS_NAME}" = "linux" ]; then
      sudo make linux test install;
    fi
  - if [ "${TRAVIS_OS_NAME}" = "osx" ]; then
      sudo make macosx test install;
    fi
  - cd ..
script:
  - mkdir build
  - cd build
  - cmake ..
  - make
  - ./palantir -v
sudo: required
