language: c
branches:
  only:
    - master
compiler:
  - gcc
  - clang
os:
  - linux
  - osx
env:
  global:
    - LUA=lua-5.3.3
    - SRC=lua-5.3.3/src
install:
  - [ TRAVIS_OS_NAME == 'osx' ] && TARGET='macosx' || TARGET='linux'
  - curl -R -O http://www.lua.org/ftp/$LUA.tar.gz
  - tar zxf $LUA.tar.gz
  - cd $LUA
  - make linux test
  - cd ..
script:
  - make all LC="$SRC/luac" CFLAGS="-I$SRC" LDFLAGS="-L$SRC"
  - ./palantir -v
