language: c
branches:
  only:
    - master
compiler:
  - gcc
  - clang
os:
  - linux
env:
  global:
    - LUA=lua-5.3.4
    - SRC=lua-5.3.4/src
addons:
  apt:
    sources:
      - george-edison55-precise-backports
    packages:
      - cmake
      - cmake-data
install:
  - curl -R -O http://www.lua.org/ftp/$LUA.tar.gz
  - tar zxf $LUA.tar.gz
  - cd $LUA
  - sudo make linux test install
  - cd ..
script:
  - cd build
  - cmake ..
  - make VERBOSE=1
  - ./palantir -v
sudo: required
